@import "../components/button.scss";

.form {

  &__group {
    position: relative;
  }

  &__input {
    &:-webkit-autofill {
      -webkit-box-shadow: 0 0 0 30px white inset !important;

      &:hover {
        -webkit-box-shadow: 0 0 0 30px white inset !important;
      }

      &:focus {
        -webkit-box-shadow: 0 0 0 30px white inset !important;
      }

      &:active {
        -webkit-box-shadow: 0 0 0 30px white inset !important;
      }
    }

    outline: none;
    font-size: 14px;
    font-family: inherit;
    border-radius: 10px;
    background-color: #ffffff;
    border: 1px solid #AAB7B8;
    padding: .70rem 2rem;
    width: 100%;
    display: block;

    &__input:focus {
      outline: none;
    }

    &__input:active {
      outline: none;
    }

    &::-webkit-input-placeholder {
      color: #000000;
    }

    &:placeholder-shown {
      + {
        .form__label {
          visibility: hidden;
          z-index: -1;
          transition: 0.2s ease-in-out;
        }
      }
    }

    &:not(:placeholder-shown) {
      + {
        .form__label {
          visibility: visible;
          z-index: 1;
          opacity: 1;
          transform: translateY(-10px);
          transition: 0.2s ease-in-out transform;
        }
      }
    }

    &:focus {
      &:not(:placeholder-shown) {
        + {
          .form__label {
            visibility: visible;
            z-index: 1;
            opacity: 1;
            transform: translateY(-10px);
            transition: 0.2s ease-in-out transform;
          }
        }
      }
    }
  }

  select {
    cursor: pointer;
    text-transform: none;
    background: url(/assets/images/dropdown.svg) no-repeat 95%;
    appearance: none;

  }

  &__label {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 140%;
    color: $grey8;
    margin-left: 2rem;
    display: block;
    position: absolute;
    opacity: 0;
    bottom: 1.1rem;
    transition: 0.2s ease-in-out transform;
    background-color: #ffffff;
  }

  &__checkbox {

    /* Base for label styling */
    [type="checkbox"]:not(:checked),
    [type="checkbox"]:checked {
      position: absolute;
      left: -9999px;
    }

    [type="checkbox"]:not(:checked)+label,
    [type="checkbox"]:checked+label {
      position: relative;
      padding-left: 1.95em;
      cursor: pointer;
    }

    /* checkbox aspect */
    [type="checkbox"]:not(:checked)+label:before,
    [type="checkbox"]:checked+label:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 1.5em;
      height: 1.5em;
      background: #0F3043;
      box-shadow: inset 0 1px 3px rgba(0, 0, 0, .1);
      border-radius: 50%;
    }

    /* checked mark aspect */
    [type="checkbox"]:not(:checked)+label:after,
    [type="checkbox"]:checked+label:after {
      content: '\2713\0020';
      position: absolute;
      top: .15em;
      left: .22em;
      font-size: 1.3em;
      line-height: 0.8;
      color: #ffffff;
      transition: all .2s;
      font-family: 'Lucida Sans Unicode', 'Arial Unicode MS', Arial;
    }

    /* checked mark aspect changes */
    [type="checkbox"]:not(:checked)+label:after {
      opacity: 0;
      transform: scale(0);
    }

    [type="checkbox"]:checked+label:after {
      opacity: 1;
      transform: scale(1);
    }
  }
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}

[type="radio"]:checked+label,
[type="radio"]:not(:checked)+label {
  position: relative;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  padding-left: 28px;
  cursor: pointer;
  line-height: 25px;
  display: inline-block;
  color: $black;
}

[type="radio"]:checked+label:before,
[type="radio"]:not(:checked)+label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid $green;
  border-radius: 100%;
  background: #fff;
  box-sizing: content-box;
}

[type="radio"]:checked+label:before {
  border-color: $green;
}

[type="radio"]:not(:checked)+label:before {
  border-color: $black;
}

[type="radio"]:checked+label:after,
[type="radio"]:not(:checked)+label:after {
  content: '';
  width: 12px;
  height: 12px;
  background: $green;
  position: absolute;
  top: 4px;
  left: 4px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

[type="radio"]:not(:checked)+label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}

[type="radio"]:checked+label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.button-wrapper {
  position: relative;
  width: 150px;
  text-align: center;
  margin: auto 1.5rem;

  span.label {
    position: relative;
    z-index: 0;
    display: inline-block;
    width: 100%;
    background: $light-blue;
    cursor: pointer;
    color: $right-sidebar;
    padding: 10px 0;
    text-transform: capitalize;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 25px;
    letter-spacing: -0.1px;
    border-radius: 10px;
  }

  input[type="file"] {
    display: inline-block;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 50px;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
  }
}